<div class="container mt-5 w-50">
    <div class="card">
     <div class="card-header"> 
      <h5>Upload Employee Profile Image</h5>
    </div>
     <div class="card-body">
      <form class="p-5">
        <div class="mb-4">
          <input type="file" class="form-control" id="profileImage" />
        </div>
        <div class="float-end">
          <button type="submit" class="btn btn-large">Upload</button>
          &nbsp;
          <a routerLink="" class="btn btn-large">Cancel</a>
        </div>
      </form>
     </div>
    </div>
  </div>
  