img{
    width:50px;
    height:50px;
}

.input-container{
    position:relative;
}

.cross-button{
    position:absolute;
    top:50%;
    right:70px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}

.show-cross{
    display: block;
}


table{  
    border-radius: 5px;
    overflow: hidden; 
    background-color: var(--table-color);
}

thead>tr>th{
    padding: 15px;
    color: var(--light-color);
    background-color: var(--primary-color); 
    font-weight: 500;  
}
thead>tr>th>i{   
    font-size: 12px;  
}


tbody > tr:nth-child(even){ 
 background-color: var(--light-color);
 color:var(--primary-color);

}

tbody>tr:nth-child(odd){
    color:var(--primary-color);
    font-weight: 500;
}

